.container {
    margin: 30px;
}

button:hover {
    cursor: pointer;
}

.btnText {
    color: rgb(255, 255, 255);
    background-color: rgb(47, 130, 254);
    margin: 10px;
    font-size: 30px;
    font-weight: 700;
    width: 400px;
    height: 60px;
    border: none;
    border-radius: 5px;
}