.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    color: dodgerblue;
    background-color: rgb(255, 255, 255);
    width: 60%;
    border-radius: 10px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
    padding-right: 50px;

}

.vidContainer {
    justify-content: center;
    align-items: center;
}