.container {
    display: 'flex';
    justify-content: 'space-between';
    height: '100vh';
}

.mainContainer {
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
    justify-content: 'center';
    width: '90%';
    min-height: '100%';
}

.btn {
    background-color: dodgerblue;
    color: white;
    font-size: 30px;
    margin: 10px;
    width: 200px;
    height: 50px;
    border: none;
    cursor: pointer;
}

.header {
    background-color: '#fde';
    display: 'flex';
    align-items: 'center';
    justify-content: 'center'
}