.container {
    background-color: rgb(56, 153, 250);
    margin: 20px;
    color: white;
    height: 400px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image {
    width: 200px;
    height: 200px;
}

.cardText {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.btn {
    background-color: rgb(26, 103, 219);
    color: white;
    font-size: 30px;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    border: none;
    cursor: pointer;
}