.container {
    background-color: rgb(20, 72, 102);
    margin: 30px;
    color: white;
    height: 200px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardText {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}