.container {
    background-color: rgb(255, 255, 255);
    margin: 20px;
    color: white;
    height: 500px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image {
    padding: 10px;
    width: 50%;
    height: 300px;
    border-radius: 10px;
}

.cardText {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.btn {
    background-color: dodgerblue;
    color: white;
    font-size: 30px;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}