.container {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .header {
    background-color: yellowgreen;
    align-items: center;
    justify-content: center;
} */